<p id="notice"><%= notice %></p>

<p>
  <strong>Beer club:</strong>
  <%= @membership.beer_club.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @membership.user.username %>
</p>

<p>
  <strong>Joined:</strong>
  <%= @membership.created_at %>
</p>

