<table class="table table-hover">
  <thead>
    <tr>
      <th>Beer style</th>
      <th>Average</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% styles.each do |style| %>
      <tr>
        <td><%= link_to style.name, style %></td>
        <td><%= style.average_rating.round(1) %></td>
      </tr>
    <% end %>
  </tbody>
</table>