<h2>List of ratings</h2>

<% if @ratings.empty? %>
  <p>No ratings given yet!</p>
<% else %>
 <p> Our users have given <%= pluralize(@ratings.count, 'rating') %>: </p>
<% end %>

<ul>
  <% @ratings.each do |rating| %>
		<li>
			<%= rating %> <%= link_to rating.user.username, rating.user %>
		</li>
  <% end %>
</ul>

<%= link_to 'New rating', new_rating_path %>