<table class="table table-hover">
  <thead>
    <tr>
      <th>Beer style</th>
    </tr>
  </thead>

  <tbody>
    <% styles.each do |style| %>
      <tr>
        <td><%= link_to style.name, style %></td>
      </tr>
    <% end %>
  </tbody>
</table>